{% extends 'base.html' %}
{% load static %}
  
{% block css %}  
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

 {% block title %}
 <title>home page</title>
 {% endblock %}

    {% block content %}
    <h1>HomePage</h1>

    {% for i in studs %}
    <h2>{{i.id_no}}</h2>
    <h2>{{i.sname}}</h2>
    <h4>{{i.cname}}</h4>
    {% endfor %}

    {% for j in deps %}
    <p>{{j.dname}}</p>
    {% endfor %}


    {% endblock %}

    {% block imgage %}
    <img src="{% static 'images/image-web-3-desktop.jpg' %}" alt="">
    {% endblock %}