{% extends 'base.html' %}

{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/table.css' %}">
{% endblock %}

{% block title %}
<title>table</title>
{% endblock %}

{% block content %}
    <h2 class="text-center mt-5">PHP/MySQLiCRUD Operation using Bootstrap</h2>

    <div class="container">
        <button type="button" class="btn btn-primary mt-5">+ add new</button>
        <div class="row mt-5 ">
            <div class="col-lg">
                <table class="table  text-center">
                    <thead>
                      <tr>
                        <th scope="col">first name</th>
                        <th scope="col">last name</th>
                        <th scope="col">address</th>
                        <th scope="col">action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row"></th>
                        <td></td>
                        <td></td>
                        <td><button type="button" class="btn btn-warning">edit</button><button type="button" class="btn btn-danger ms-3">Delete</button></td>
                      </tr>
                      <tr>
                        <th scope="row"></th>
                        <td></td>
                        <td></td>
                        <td><button type="button" class="btn btn-warning">edit</button><button type="button" class="btn btn-danger ms-3">Delete</button></td>
                      </tr>
                      <tr>
                        <th scope="row"></th>
                        <td colspan="2"></td>
                        <td><button type="button" class="btn btn-warning">edit</button><button type="button" class="btn btn-danger ms-3">Delete</button></td>
                      </tr>
                    </tbody>
                  </table>

            </div>
        </div>
    </div>
    {% endblock %}
